---
// Component Imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Page not found">
    <div
        class="container"
        style={{
            display: "grid",
            placeItems: "center",
            textAlign: "center",
            gap: "var(--space-sm)",
        }}
    >
        <div>
            <h1 class="h1">Página não encotrada</h1>
            <p>
                A p&aacute;gina que voc&ecirc; estava procurando n&atilde;o foi
                encontrada.
            </p>
        </div>
        <Link
            href="/"
            style="secondary"
            text="Go home"
            icon={{
                name: "tabler:home",
                side: "right",
            }}
        />
    </div>
</MainLayout>
