---
import MainLayout from "../layouts/MainLayout.astro";

// Component Imports
import PostCard from "../components/PostCard.astro";
import Link from "../components/Link.astro";

// utils imports
import { formatBlogPosts } from "../js/utils";

const allPosts = Object.values(
	import.meta.glob("./blog/*.md", { eager: true }),
);
const formattedPosts = formatBlogPosts(allPosts, {
	limit: 3,
});
---

<MainLayout title="Café & TV">
	<section class="container about" aria-label="About Me">
		<img
			src="/images/CAFE_E_TV_crop_transparent_400.png"
			alt="CafeeTV Logo"
			width="200"
			height="330"
		/>
		<div class="content">
			<h1 class="h1">Café & TV</h1>
			<p>
				Assista as melhores animações do mundo e mergulhe em um mundo de
				surpresas e aventuras!
			</p>
			<Link href="/blog/" style="secondary" text="Assista mais..." />
		</div>
	</section>
	<section class="container" aria-label="New Blog Posts">
		<h2 class="h1">Últimos posts</h2>
		<div class="post-container">
			{
				formattedPosts.map((post: any) => (
					<PostCard
						frontmatter={post.frontmatter}
						url={post.url}
						tagType="h3"
					/>
				))
			}
		</div>
	</section>
</MainLayout>
