---
// Component Imports
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Café e TV">
	<section class="container about" aria-label="About Me">
		<img
			src="/images/CAFE_E_TV_crop_transparent_400.png"
			alt="Café e TV Logo"
			width="200"
			height="330"
		/>
		<div class="content">
			<h1 class="h1">Café e TV</h1>
			<p>
				Desde 2011, o Café & TV traz as melhores animações
				curta-metragem para o público amante da animação. Com uma curadoria
				cuidadosa, apresentamos uma seleção exclusiva de curtas novos e clássicos que
				encantam e inspiram. Nosso objetivo é promover a apreciação da
				arte da animação, oferecendo uma plataforma para que artistas
				emergentes e consagrados possam compartilhar suas obras com o
				público brasileiro. Acreditamos que a animação é uma forma
				poderosa de expressão artística, capaz de contar histórias
				únicas e impactantes.
			</p>
			<Link
				href="mailto:contato@cafeetv.com.br"
				style="primary"
				text="Entre em contato"
			/>
		</div>
	</section>
</MainLayout>
