---
import { Icon } from "astro-icon/components";

const year = new Date().getFullYear();
---

<footer>
    <div>
        <small>Copyright &copy; {year} | All rights reserved</small>
        <small>
            <a href="/rss.xml">
                Subscribe to my site
                <Icon name="tabler:rss" width="20" height="20" />
            </a>
        </small>
    </div>
</footer>
